#linear{
    height: 300px;
    margin-left: 600px;
    width: 600px;
    align-content: center;
    margin-top: 40px;
    height: 450px;
    text-align: center;
    color: white;
    
    }
    #achalsir{
    
        margin-left: 220px;
        height: 4.5cm;
        width: 4.5cm;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 0px;
        margin-right: 1202px;
}
#contain{
    margin-top: -470px;
    color: white;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/BGlineralgebra.webp);
}
h1{
    color: red;
}
#fac{
    margin-left: -400px;
}